body{
    background: rgb(20, 20, 168);
    font: optional normal 15pt arial;
    

}
header{
    color: white;
    text-align: center;
}
section{
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 790px;
    margin: auto;
    box-shadow: 5px 5px 10px;
    text-align: center;
    font: 30px;
}
footer{
    color: white;
    text-align: center;
    font-style: italic;
}
